<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1> Edit Route Page </h1>
        <form action="/routes/<%=routes.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=routes.name%>"/></br>
            Description: <input type="text" name="description" value="<%=routes.description%>"/></br>
            Rating: <input type="text" name="rating" value="<%=routes.rating%>"/></br>
            Location: <input type="text" name="location" value="<%=routes.location%>"/></br>
            Height: <input type="number" name="height" value="<%=routes.height%>"/></br>
            Anchors: <input type="text" name="anchors" value="<%=routes.anchors%>"/></br>
            Bolts: <input type="number" name="bolts" value="<%=routes.bolts%>"/></br>
            Rock Type: <input type="text" name="rockType" value="<%=routes.rockType%>"/></br>
            <input type="submit" value="Submit Changes"/>
        </form>
        <a href="/routes">Back To Routes</a>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
