<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1> <%= routes.name %> </h1>
        <h2>Rating: <%= routes.rating %> </h2>
        <h3>Location: <%= routes.location %> </h3>
        <p> <%= routes.description %> </p>
        <ul>
            <li> Height:
                <%= routes.height%>'
            </li>
            <li>
                <%= routes.anchors %>
            </li>
            <li> Bolts:
                <%= routes.bolts %>
            </li>
            <li>
                <%= routes.rockType %>
            </li>
        </ul>
        <a href="/routes/<%=routes.id%>/edit">Edit This Route</a>
        <form action="/routes/<%=routes.id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete This Route"/>
        <nav>
        <a href="/routes">Back To Routes </a>
        </nav>

    </body>
</html>
